//SUPABASE
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

//REPORT CASES EMAIL
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
RECIPIENT_EMAIL=recipient_email@gmail.com

//TWILIO
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+your_twilio_whatsapp_number

//TEAM NUMBERS FOR ALERTS
TEAM_NUMBER_1=whatsapp:+1234567890
TEAM_NUMBER_2=whatsapp:+1234567890
TEAM_NUMBER_3=whatsapp:+1234567890
